<% default_image = File.join(root_url, 'profile_default.jpg') %>
<table class="contacts-list">
 <% contacts.each_with_index do |contact,i| %>
   <tr class="contact <%= i%2==0 ? 'even' : 'odd' %>">
     <td class="cb"><input type="checkbox" value="<%= h(contact[1]) %>" name="emails[]"></td>
     <td class="icon"><%= image_tag(gravatar(contact[1], default_image, 20), :class => 'contact-list-image', :alt => contact[0]) %></td>
     <td class="name"><%= contact[0] %></td>
     <td class="email"><%= contact[1] %></td>
   </tr>
 <% end %>
</table>