<div id="invite-contacts">
  <%= invite_ajax_message_container %>
  <div id="get-contacts-form">
    <% custom_form_for(:get_contacts, :url => get_contacts_invites_path,
                                    :html => {:id => "get-contacts-form", :name => 'get-contacts-form',
                                    :class => 'ajax get-contacts-form', :autocomplete => 'off'} ) do |f| -%>
      <%= f.text_field :email, { :label => t('muck.invites.your_email'),
                                 :tip => t('muck.invites.your_email_help')} -%>
      <%= f.password_field :password, { :label => t('muck.invites.email_password'),
                                        :tip => t('muck.invites.email_password_help')} -%>
      <%= f.submit t('muck.invites.continue_button'), :class => "button invite-submit", :id => 'get-contacts-button' %>
    <% end -%>
  </div>
  <div id="contacts-loading" style="display:none">
    <img src="/images/spinner.gif" alt="loading..." />
    <%= t('muck.invites.retrieving_contacts') %>
  </div>
  <div id="contacts-chooser-wrapper" style="display:none;"></div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery("#get-contacts-button").click(function() {
    jQuery("#get-contacts-form").hide();
    jQuery("#contacts-loading").show();
    jQuery("#invite-messages-container").hide();
  });
  apply_ajax_forms();
});
</script>