<div id="compose-invite">
  <h2>Email invites to friends</h2>
  <!--
  <div class="tabs">
    <ul>
      <li><a href="gmail" class="active"><span>Gmail</span></a></li>
      <li><a href="yahoo"><span>Yahoo</span></a></li>
      <li><a href="windows"><span>Windows Live</span></a></li>
      <li><a href="aol"><span>AOL</span></a></li>
      <li><a href="plaxo"><span>Plaxo</span></a></li>
    </ul>
  </div>
  -->
  <div id="invite-contents">
    <%= invite_ajax_message_container %>
    <% if google_oauth_for(current_user) -%>
      <p><%=translate('muck.invites.select_emails') %></p>
      <%= render :partial => 'invites/gmail_oauth' %>
    <% end -%>
    <%#= render :partial => 'invites/contacts_query', :locals => { :id => 'yahoo', :title => 'Yahoo' } %>
    <%#= render :partial => 'invites/contacts_query', :locals => { :id => 'windows', :title => 'Windows Live' } %>
    <%#= render :partial => 'invites/contacts_query', :locals => { :id => 'aol', :title => 'AOL' } %>
    <%#= render :partial => 'invites/contacts_query', :locals => { :id => 'plaxo', :title => 'Plaxo' } %>
  </div>
  <div id="invite">
    <%= muck_form_for(:invite_contacts, :url => {:action => 'create'}, :html => {:id => "invite-contacts-form", :name => 'invite-contacts-form'} ) do |f| -%>
      <div class="form-row">
        <label class="invite-email" for="emails">Emails</label>
        <p class="invite-email"><%=translate('muck.invites.email_friends_prompt') %></p>
        <%= text_area_tag :emails, emails || params[:emails] %>
      </div>
      <div class="form-row">
        <label class="invite-message" for="message">Message</label>
        <%= text_area_tag :message, message || params[:message] %>
      </div>
      <div class="form-row">
        <%= f.submit t('muck.invites.invite_button'), :class => "button invite-submit" %>
      </div>
    <% end -%>
  </div>
</div>
<%= render :partial => 'invites/invite_scripts' %>
<% content_for :javascript do -%>
<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function() {
  
  jQuery('.tabs ul li a').click(function(){
    jQuery('.invite-query').hide();
    jQuery('#' + jQuery(this).attr('href')).show();
    jQuery('.tabs ul li a').removeClass('active');
    jQuery(this).addClass('active');
    return false;
  });
  jQuery('.tabs').show();
  
  apply_ajax_forms();
  
  <% if google_oauth_for(current_user) -%>
  <%= gmail_contacts_for_auto_complete(current_user) %>
  jQuery("#emails").autocomplete(gmail_contacts, {
               minChars: 1,
               delay: 200,
               autoFill: true,
               mustMatch: false,
               multiple: true
  });
  <% end -%>
});  
</script>
<% end -%>