<div id="compose-invite">
  <h2><%=translate('muck.invites.invite_via_email_title') %></h2>
  <!--
  <div class="tabs">
    <ul>
      <li><a href="gmail" class="active"><span>Gmail</span></a></li>
      <li><a href="yahoo"><span>Yahoo</span></a></li>
      <li><a href="windows"><span>Windows Live</span></a></li>
      <li><a href="aol"><span>AOL</span></a></li>
      <li><a href="plaxo"><span>Plaxo</span></a></li>
    </ul>
  </div>
  -->
  <div id="invite-contents">
    <%= invite_ajax_message_container %>
    <%= render :partial => 'invites/contacts_from_services' %>
    <%#= render :partial => 'invites/contacts_query', :locals => { :id => 'yahoo', :title => 'Yahoo' } %>
    <%#= render :partial => 'invites/contacts_query', :locals => { :id => 'windows', :title => 'Windows Live' } %>
    <%#= render :partial => 'invites/contacts_query', :locals => { :id => 'aol', :title => 'AOL' } %>
    <%#= render :partial => 'invites/contacts_query', :locals => { :id => 'plaxo', :title => 'Plaxo' } %>
  </div>
  <div id="invite">
    <%= muck_form_for(:invite_contacts, :url => {:action => 'create'}, :html => {:id => "invite-contacts-form", :name => 'invite-contacts-form'} ) do |f| -%>
      <div class="form-row">
        <label class="invite-email" for="emails"><%=translate('muck.invites.emails') %></label>
        <p class="invite-email"><%=translate('muck.invites.email_friends_prompt') %></p>
        <%= text_area_tag :emails, emails || params[:emails] %>
      </div>
      <div class="form-row">
        <label class="invite-message" for="message"><%=translate('muck.invites.message') %></label>
        <%= text_area_tag :message, message || params[:message] %>
      </div>
      <div class="form-row">
        <%= f.submit t('muck.invites.invite_button'), :class => "button invite-submit" %>
      </div>
    <% end -%>
  </div>
</div>
<%= render :partial => 'invites/invite_scripts' %>
<% content_for :javascript do -%>
<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function() {
  
  jQuery('.tabs ul li a').click(function(){
    jQuery('.invite-query').hide();
    jQuery('#' + jQuery(this).attr('href')).show();
    jQuery('.tabs ul li a').removeClass('active');
    jQuery(this).addClass('active');
    return false;
  });
  jQuery('.tabs').show();
  
});  
</script>
<% end -%>