<div><%= flash[:notice] %></div>
<div><%= link_to t('muck.invites.new_invites', :app_name => GlobalConfig.application_name), new_invite_path %></div>

Render partials as test
<%= render :partial => 'invites/gmail_oauth' %>
<%= render :partial => 'invites/contacts_container', :locals => { :id => 'yahoo', :title => 'Yahoo' } %>
<%= render :partial => 'invites/contacts_container', :locals => { :id => 'windows', :title => 'Windows Live' } %>

